.mane{ 
    /* background-color:rgb(139, 139, 224); */
    display: flex;
    width: 600px;
    height: auto;
    margin: 50px;
    flex-direction: row;
justify-content: space-between;

}





.one{
    background-color: rgb(139, 139, 224);
    width: 200px;
    height: 200px;
    border-radius: 5px;

}

.tow{
    background-color: rgb(139, 139, 224);
    width: 200px;
    height: 200px;
    border-radius: 5px;  
}

.three{
    background-color: rgb(139, 139, 224);
    width: 200px;
    height: 200px;
    border-radius: 5px;  
}